footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 13vw;
	border-top:0.2vw solid #bbb ; 
}
.footer_ul{
	display: flex;
	justify-content: space-around;
	background-color: #e8e8e8;
}
.footer_ul>li{
	list-style: none;
	width: 33.3vw;
	height: 13vw;
	text-align: center;
	line-height: 13vw;
	font-size: 4vw;
}
.footer_ul>li:hover{
	background-color: #e7f3f0;
}
.footer_ul>li>a{
	color: #00b38a;
	
}
.likes:hover{
	color:#00b38a;
}
